<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link rel="stylesheet" href="/public/css/styles.css">
    <title>About</title>
</head>
<body>
    <header id="navigation">
        <h1 class="col-sm-4">About the author</h1>
          <nav class="navbar navbar-expand-lg navbar-light col-sm-8">
              <div class="container-fluid">
                <a class="navbar-brand" href="#"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                      <a class="nav-link active" aria-current="page" href="./home.html">Home</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/views/about.html">Author</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/views/works.html">Games</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/views/gallery.html">Photo Gallery</a>
                    </li>
                      </ul>
                </div>
              </div>
            </nav>
          </header>
            <div class="author">

                <img src="/public/images/miyazaki.png" alt="Hidetaka Miyazaki photo">
                <div class="autor">Hidetaka Miyazaki</div>
                <div class="bio">
                    Hidetaka Miyazaki is a Japanese video game director, designer, writer, and company president of FromSoftware. He originally joined the company in 2004 as a game designer for the Armored Core series, later becoming better known for creating the Souls series. Other notable games he has worked on include Bloodborne, Sekiro, and Elden Ring.
                    Miyazaki's influences range from the works of various novelists, mangakas, and other game designers such as Fumito Ueda and Yuji Horii, as well as Asian and European architecture. Miyazaki's games, particularly the Souls series, often invoke the use of high difficulty and a large amount of setting and character information provided through flavor text and environmental cues. His work in the Souls series has been seen as influential, with him winning awards and being cited as an auteur of video games.
                </div>
          </div>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js" integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc" crossorigin="anonymous"></script>
</body>
</html>